#about_last_news_inner {
  .cut-1-container {
    position: relative;
    padding-top: 0%;
    @include tablet {
      padding-top: 10%;
    }
  }
  .cut-1-para {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    top: 47%;
    left: 12%;
    width: 16vw;
    h1 {
      font-family: $sans;
      font-weight: 400;
      font-size: 2.75vw;
      color: white;
      letter-spacing: 2px;
    }
    h3 {
      font-family: $ubu;
      font-weight: 400;
      font-size: 1.5vw;
      color: white;
      letter-spacing: 2px;
    }
    .cut-1-para-line {
      width: 100%;
      height: 1px;
      margin: 0.75vw 0;
      background-color: white;
    }
    @include cut1para();
  }
  //第2cut
  .cut-2-container {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 7%;
    h2 {
      font-family: $sans;
      font-size: $mainTitle;
      font-weight: 500;
      color: #534741;
      letter-spacing: 5px;
    }
    @include tablet {
      width: 85%;
      h2 {
        font-size: $mainTitleTB;
        letter-spacing: 1px;
      }
    }
    @include mobile {
      width: 85%;
      h2 {
        font-size: $mainTitlePH;
        letter-spacing: 1px;
      }
    }
  }
  .cut-2-line {
    width: 100%;
    height: 1px;
    background-color: #c7b299;
    margin-block: 3%;
    @include tablet {
      margin-block: 8%;
    }
  }
  .cut-2-img {
    width: 95%;
    @include tablet {
      width: 100%;
    }
  }
  .cut-2-p {
    width: 95%;
    margin-top: 6%;
    p {
      width: 100%;
      font-weight: 500;
      font-family: $sans;
      font-size: $navSize;
      color: #534741;
      line-height: 2;
      letter-spacing: 2px;
    }
    @include tablet {
      width: 100%;
      p {
        font-size: $contentSizeTB;
      }
    }
    @include mobile {
      width: 100%;
      p {
        font-size: $contentSizePH;
      }
    }
  }
  .cut-2-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-top: 6%;
    @include tablet {
      width: 100%;
      flex-direction: column;
    }
  }
  .cut-2-bottom-time {
    font-weight: 400;
    font-family: $sans;
    font-size: $navSize;
    letter-spacing: 2px;
    color: #736357;
    @include tablet {
      font-size: 2.75vw;
      align-self: flex-start;
    }
    @include mobile {
      font-size: $navSizePH;
      align-self: flex-start;
    }
  }
  .cut-2-bottom-share {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      font-weight: 500;
      font-family: $ubu;
      font-size: $navSize;
      letter-spacing: 1px;
      color: #534741;
    }
    .share-fb {
      width: 1.75vw;
      margin-inline: 0.5vw;
      cursor: pointer;
    }
    .share-line {
      width: 1.75vw;
      margin-right: 0.5vw;
      cursor: pointer;
    }
    @include tablet {
      margin-top: 10%;
      p {
        font-size: 2.75vw;
      }
      .share {
        width: 7vw;
      }
      .share-fb {
        margin-inline: 3.5vw;
      }
      .share-line {
        margin-right: 0vw;
      }
    }
    @include mobile {
      margin-top: 10%;
      p {
        font-size: $navSizePH;
      }
      .share {
        width: 9vw;
      }
      .share-fb {
        margin-inline: 3.5vw;
      }
      .share-line {
        margin-right: 0vw;
      }
    }
  }
  .share {
    position: relative;
    a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  .cut-2-back {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 12%;
    a {
      display: inline-block;
      font-weight: 500;
      font-family: $ubu;
      font-size: $navSize;
      letter-spacing: 1px;
      text-decoration: none;
      color: #534741;
      border: 1px solid #c7b299;
      border-radius: 10px;
      padding: 0.75vw 2vw;
    }
    @include tablet {
      margin-top: 7%;
      margin-bottom: 25%;
      a {
        margin: 0 auto;
        font-size: 2.75vw;
        font-weight: 500;
        padding: 2vw 4vw;
      }
    }
    @include mobile {
      margin-top: 7%;
      margin-bottom: 25%;
      a {
        margin: 0 auto;
        font-size: 3.25vw;
        font-weight: 500;
        padding: 2.25vw 5vw;
      }
    }
  }
}
