@import "./config";
@import "./index";
@import "./about-manage";
@import "./about-case";
@import "./about-quality";
@import "./about-project";
@import "./about-project-inner";
@import "./about-last-news";
@import "./about-last-news-inner";
@import "./about-online-case";
@import "./about-online-inner";
@import "./about-online-progress";
@import "./about-develop";
@import "./about-recon";
@import "./about-urban-renew";
@import "./about-urban-renew-inner";
@import "./about-contact";

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  display: block;
}

iframe {
  width: 100%;
  height: 100%;
}

section {
  position: relative;
}

.pc {
  display: block;
  @include tablet {
    display: none;
  }
}
.ph {
  display: none;
  @include tablet {
    display: block;
  }
}

#nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 14vw;
  padding-right: 12vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  width: 100%;
  z-index: 99999;
  background-color: white;
  @include tablet {
    padding: unset;
    position: fixed;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.75);
  }
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include tablet {
    padding-left: 7vw;
    padding-right: 5vw;
    padding-block: 5vw;
    background-color: white;
  }
}
.nav-left-icon {
  width: 7vw;
  @include tablet {
    width: 20vw;
  }
  @include mobile {
    width: 25vw;
  }
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
  }
}

.nav-right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  @include tablet {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: unset;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-bottom: 8vw;
  }
}

.nav-right-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-size: $navSize;
  font-family: $sans;
  margin-right: 12vw;
  li {
    margin-right: 1.75vw;
    margin-left: 1.75vw;
  }
  a {
    text-decoration: none;
    color: black;
  }
  @include tablet {
    flex-direction: column;
    margin-right: unset;
    width: 100%;
    li {
      position: relative;
      margin-bottom: 3vw;
      width: 100%;
      display: flex;
      justify-content: center;
      &::after {
        content: "";
        position: absolute;
        top: 110%;
        left: 50%;
        height: 1px;
        width: 50%;
        background-color: #c7b299;
        transform: translate(-50%, -50%);
      }
    }
    li:last-child {
      margin-bottom: 5vw;
      &::after {
        content: unset;
      }
    }
    a {
      font-size: $contentSizeTB;
      width: 50%;
      text-align: center;
      padding-block: 2%;
    }
  }
  // @include tablet {
  //   flex-direction: column;
  //   margin-right: unset;
  //   width: 100%;
  //   li {
  //     position: relative;
  //     margin-bottom: 7vw;
  //     width: 100%;
  //     display: flex;
  //     justify-content: center;
  //     &::after {
  //       content: "";
  //       position: absolute;
  //       top: 200%;
  //       left: 50%;
  //       height: 1px;
  //       width: 50%;
  //       background-color: #c7b299;
  //       transform: translate(-50%, -50%);
  //     }
  //   }
  //   li:last-child {
  //     margin-bottom: 10vw;
  //     &::after {
  //       content: unset;
  //     }
  //   }
  //   a {
  //     font-size: $contentSizeTB;
  //   }
  // }
  @include mobile {
    flex-direction: column;
    margin-right: unset;
    width: 100%;
    li {
      position: relative;
      margin-bottom: 3vw;
      width: 100%;
      display: flex;
      justify-content: center;
      &::after {
        content: "";
        position: absolute;
        top: 110%;
        left: 50%;
        height: 1px;
        width: 50%;
        background-color: #c7b299;
        transform: translate(-50%, -50%);
      }
    }
    li:last-child {
      margin-bottom: 10vw;
      &::after {
        content: unset;
      }
    }
    a {
      font-size: $contentSizePH;
      width: 50%;
      text-align: center;
      padding-block: 5%;
    }
  }
  // @include mobile {
  //   flex-direction: column;
  //   margin-right: unset;
  //   width: 100%;
  //   li {
  //     position: relative;
  //     margin-bottom: 17vw;
  //     width: 100%;
  //     display: flex;
  //     justify-content: center;
  //     &::after {
  //       content: "";
  //       position: absolute;
  //       top: 250%;
  //       left: 50%;
  //       height: 1px;
  //       width: 50%;
  //       background-color: #c7b299;
  //       transform: translate(-50%, -50%);
  //     }
  //   }
  //   li:last-child {
  //     margin-bottom: 10vw;
  //     &::after {
  //       content: unset;
  //     }
  //   }
  //   a {
  //     font-size: $contentSizePH;
  //   }
  // }
}

.nav-fb {
  width: 1.25vw;
  @include tablet {
    width: 7vw;
  }
}

.hamburger {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15vw;
  z-index: 10;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 25px;
  height: 2px;
}
.hamburger-box {
  width: 25px;
}

//footer
#footer {
  background-color: #babbbe;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1.75vw;
  padding-bottom: 1.25vw;
  letter-spacing: 2px;
  h3 {
    color: #4d4d4d;
    font-family: $sans;
    font-weight: 500;
    font-size: 0.9vw;
    margin-bottom: 0.75vw;
  }
  @include tablet {
    padding-top: 4.75vw;
    padding-bottom: 4.75vw;
    h3 {
      font-size: 3.5vw;
      margin-bottom: 1.75vw;
    }
  }
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 0.5vw;
  .footer-bottom-second {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      font-size: 3.25vw;
      margin-bottom: 1.75vw;
      text-decoration: none;
      color: #4d4d4d;
    }
  }
  p {
    color: #4d4d4d;
    font-family: $sans;
    font-weight: 400;
    font-size: 0.8vw;
  }
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    .footer-bottom-second {
      flex-direction: row;
      margin-top: 1vw;
    }
    .footer-bottom-line-2 {
      display: none;
    }
    .footer-bottom-line-3 {
      margin: 0 1vw 1.75vw 1vw;
    }
    p {
      font-size: 3.25vw;
      margin-bottom: 1.75vw;
    }
    a {
      font-size: 3.25vw;
      margin-bottom: 1.75vw;
      text-decoration: none;
      color: #4d4d4d;
    }
  }
}

//錯誤
.error {
  color: red;
  font-size: 0.8vw;
  width: 100%;
  display: flex;
  font-weight: 500;
  font-family: "Noto Serif TC", serif;
  @include tablet {
    font-size: 2vw;
  }
  @include mobile {
    font-size: 3vw;
  }
}

//讀取頁面
.loading-page {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: white;
  background-repeat: repeat;
  background-size: 100%;
  transition: opacity 0.6s;
  pointer-events: none;
  overflow: hidden;
  user-select: none;
}
.loading-logo {
  width: 3vw;
  @include tablet {
    width: 10vw;
  }
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 7.5vw;
  position: relative;
  @include tablet {
    margin-top: -30%;
    width: 20%;
  }
  @include mobile {
    width: 20%;
  }
}
.box-loading {
  font-family: "roboto";
  font-weight: 300;
  font-size: 40px;
  color: #534741;
  margin-top: 1vw;
  @include tablet {
    font-size: 20px;
    margin-top: 2vw;
  }
  @include mobile {
    font-size: 20px;
    margin-top: 3vw;
  }
}
.box-img {
  width: 2.5vw;
  // width: 10vw;
  position: relative;
  .box-img-para {
    position: absolute;
    width: 4vw;
    font-family: "roboto";
    color: #878787;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  @include tablet {
    width: 6vw;
  }
  @include mobile {
    width: 8vw;
  }
}

.box-para {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-family: "roboto";
  color: #534741;
  font-weight: 500;
  @include tablet {
    font-size: 28px;
  }
}
